# Virtual environment
venv/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# ML artifacts
ml/data/
ml/model.pkl
*.pkl
precision_recall_curve.png

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Environment files
.env

# MLflow
mlruns/
mlflow.db

# Virtual env
venv/

# Python
__pycache__/
*.pyc

*.pkl
mlruns/
mlflow.db
